EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your-key-here
EXPO_PUBLIC_CLERK_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_CLERK_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.your-google-ios-client-id

CLERK_SECRET_KEY=sk_test_your-key-here

STREAM_API_KEY=your-stream-api-key
STREAM_API_SECRET=your-stream-api-secret
